mods/
crash-reports/
downloads/
fancymenu_data/
journeymap/
logs/
mods/
resourcepacks/
saves/
screenshots/
shaderpacks/
command_history.txt
icon.png
usercache.json
usernamecache.json
**/tmp*/**
local/**
!local/kubejs
/config/spark/
