mods/
crash-reports/
downloads/
fancymenu_data/
journeymap/
logs/
mods/
resourcepacks/
saves/
screenshots/
shaderpacks/
command_history.txt
icon.png
usercache.json
usernamecache.json
**/tmp*/**
local/**
!local/kubejs
/config/spark/
**/*cache*/
defaultconfigs/
.mixin.out/**
patchouli_data.json
.sable/
.qmenu_opened.marker
simplebackups/
**/**search_index**/
